/*csslint ids: false, box-model: false, universal-selector: false, box-sizing: false, zero-units: false, known-properties: false, shorthand: false*/

* {
    box-sizing: border-box;
}

body {
    color: #878787;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    margin: 0;
}

.arrow {
    height: 100px;
    margin-bottom: 5px;
    width: 100px;
}

img {
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}


/*
ul li {
    margin-bottom: 5px;
}
*/

ul,
ol {
    margin-left: 30px 0;
}

li {
    margin-bottom: 10px;
}

.primary-content {
    margin: auto;
    max-width: 900px;
    padding-bottom: 95px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    width: 75%;
}

.title {
    border-bottom: 2px solid;
    color: white;
    font-size: 1.625em;
    font-weight: 200;
    letter-spacing: 1.625em;
    padding-bottom: 10px;
    text-align: center;
}

.secondary-content {
    border-bottom: 2px solid #dfe2e6;
    border-top: 2px solid lightgrey;
    margin: auto;
    max-width: 900px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    width: 75%;
}

.t-border {
    border-top: 2px solid lightgrey;
}

.wildlife {
    /*
padding-bottom: 100px; 
    padding-left: 120px;
    padding-right:120px; 
    padding-top: 100px;

*/
    background-color: #434a52;
    background-image: url(../../img/lake-tahoe-images/bear.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 10px solid #ffa949;
    box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, .8);
    color: white;
    /*
    border-color:#ffa949; 
        border-style: solid;
    border-width: 10px 20px;
*/
    margin: 105px 0 60px;
    padding: 18% 24%;
}

#main-footer {
    border-bottom: solid 10px orange;
    padding-bottom: 60px;
    padding-top: 60px
}

.callout {
    border-bottom: 3px solid;
    display: inline-block;
    font-size: 1.25em;
    margin-top: 20px;
    padding: 0 9px 3px;
}

h1 {
    color: white;
    font-size: 5.625em;
    font-weight: normal;
    line-height: 1.3;
    text-transform: uppercase;
}

h2 {
    font-size: 53px;
    font-weight: normal;
    margin-bottom: .5em;
    text-decoration: underline;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
}

h3 {
    color: #485;
    font-size: 20px;
    margin-bottom: 1.7em;
}

.main-header {
    background: linear-gradient(#ffa949, transparent 90%), linear-gradient(0deg, #fff, transparent), #ffa949 url('../../img/lake-tahoe-images/mountains.jpg');
    background-color: #ffa949;
    /*    background-image: radial-gradient(circle at top, #ffa949, firebrick);*/
    /*    background-image: url('../../img/lake-tahoe-images/mountains.jpg');*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 850px;
    padding-top: 170px;
    text-align: center;
}

p {
    font-size: 20px;
}


/*................................................................................................
psuedo classes
................................................................................................*/

a:link {
    color: lawngreen;
    text-decoration: none;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

a:active {
    color: coral;
}

a:focus {
    background-color: darkgoldenrod;
    color: white;
}


/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
Floats
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1*/

.resorts,
.tips {
    width: 46.5%;
}

.resorts {
    float: left;
}

.tips {
    float: right
}

.group:after {
    clear: both;
    content: "";
    display: table;
}